<html>
<head>
    <title>home</title>
  {% load staticfiles %}
  <title>Dairy Farm</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="home">Dairy Farm</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="123/">about</a>
          <a class="nav-item nav-link" href="543/">email us</a>
          <a class="nav-item nav-link" href="app_dairyform/">registration</a>
          <a class="nav-item nav-link" href="">info</a>
        </div>
      </div>
    </nav>
  </header>
  <h1><u>About Dairy Farm</u></h1>
  <h2>Introduction:</h2>
   <h2>About this guide</h2>
    <p>Many dairy companies/cooperatives and countries are introducing on-farm quality assurance programmes aimed at assuring their consumers about the safety of their dairy products. This guide attempts to provide a generic framework for individual on-farm quality assurance programmes, focusing on both consumer safety and the image of the dairy sector.</p>
    <p>The objective of the document is to provide a farmer-orientated guide to practices that are achievable all over the world covering those areas that are essential to manage.</p>
    <p>The approach taken in this guide is to:</p>
    <p> --highlight relevant areas on dairy farms that need to be managed;</p>
    <p> --identify the objectives in dealing with each of these areas;</p>
    <p> --identify GAP; and</p>
    <p> --suggest control measures that can be implemented to achieve the objectives.</p>
    <p>The focus is on the desired outcomes, rather than on specific, prescriptive actions/processes. The guide does not have any legal status and does not supersede national requirements.</p>
  <h2>Guiding objective for good dairy farming practice</h2>
    <p>The guiding objective for good dairy farming practice is that milk should be produced on-farm from healthy animals under generally accepted conditions. To achieve this, dairy farmers need to apply GAP in the following areas:</p>
    <p> --animal health;</p>
    <p> --milking hygiene;</p>
    <p> --animal feeding and water;</p>
    <p> --animal welfare; and</p>
    <p> --environment.</p>
    <p>For some of these areas, there are control points that must be managed to achieve defined outcomes. The guide contains guidelines specific to the five areas listed above but is not meant as a substitute for national legislation.</p>
    <p>GAP also means that dairy farmers should ensure that appropriate records are kept, especially those that enable adequate traceability of:</p>
    <p> --the use of agricultural and veterinary chemicals;</p>
    <p> --the purchase and use of animal feed and</p>
    <p> --the unique identification of individual animals.</p>
    <p>Records should also be kept of:</p>
    <p> --milk storage temperatures (when available)</p>
    <p> --veterinary or medication treatments of individual animals.</p>
    <p>The owner of a dairy farm should also ensure that p1eople undertaking and supervising the milking operations and management of the dairy farm are skilled in:</p>
    <p> --animal husbandry;</p>
    <p> --the hygienic milking of animals;</p>
    <p> --the administration of veterinary drugs;</p>
    <p> --the activities undertaken on the dairy farm in relation to food safety and food hygiene; and</p>
    <p> --health and safety practices relating to dairy farm operators.</p>
    <p>Appropriate measures are also needed to maintain these skills through ongoing training.</p>
  <h2>How are the guidelines presented?</h2>
    <p>The Guidelines are presented in two forms:</p>
    <p> --Good agricultural practice (GAP) and suggested measures are set out in tabular form for each key area: animal health, milking hygiene, animal feeding and water, animal welfare and environment.</p>
    <p> --Individual Fact Sheets that provide more detail for each area, corresponding to the GAP.</p>
    <p>In developing individual, company or country-specific guidelines for good dairy farming practices (or on-farm quality assurance programmes), reference should be made to:</p>
    <p> --Codex Alimentarius: Food Hygiene and Basic Texts.</p>
    <p> --Codex: Recommended International Code of Practice - General Principles of Food Hygiene.</p>
    <p> --Codex: Draft Code of Hygienic Practice for Milk and Milk Products.</p>
    <p> --Codex Code of Practice on Good Animal Feeding.</p>
    <p> --FAO: Food Quality and Safety Systems - A training manual on food hygiene and the Hazard Analysis and Critical Control Point (HACCP) system.</p>
    <p> --IDF GMP Code for Milking with Automatic Milking Systems (if relevant).</p>
    <p> --OIE Code of Animal Health.</p>
</body>
</html>1