<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmer registration</title>
</head>
<body>
<form action="app_dairyform/" method="POST">
    {% csrf_token %}
    <input type="text" name="name" />
    <input type="radio" name="gender" value="male" checked /> Male<br>
    <input type="radio" name="gender" value="female" /> Female<br>
    <input type="text" name="contact_number" />
    <input type="text" name="age" />
    <input type="submit" value="create">
</form>
</body>
</html>